/node_modules
/public/hot
/storage/*.key
/storage/debugbar
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/DeportesCotecnova.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
