/*
* ==========================================================
*     PERSONAL STYLING
* ==========================================================
*/

.links{
  cursor: pointer;
}

/*
* ==========================================================
*     GENERAL STYLING OF
* ==========================================================
*/
#preloader {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 11000;
	position: fixed;
	display: block
}

.preloader {
	position: absolute;
	margin: 0 auto;
	left: 1%;
	right: 1%;
	top: 25%;
	width: 320px;
	background: center center no-repeat none;
	background-size: auto auto;
	background-size: 95px 95px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

/*
* ==========================================================
*     EVITAR EL OVERFLOW DE CONTENIDO EN TABLAS
* ==========================================================
*/

#example th, #example td {
word-break: break-all; /* IE supports this */
word-break: break-word; /* IE doesn't support, and will ignore */
/* http://caniuse.com/#feat=word-break */
}
